<a href="https://colab.research.google.com/github/chuter176/MLP_2025/blob/main/40list_41map.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

list

In [1]:
tupleData = {1,2,3,4,5}
print(list(tupleData))

[1, 2, 3, 4, 5]

In [2]:
strData = 'I love python!'
print(list(strData))

['I', ' ', 'l', 'o', 'v', 'e', ' ', 'p', 'y', 't', 'h', 'o', 'n', '!']

In [7]:
def MyRange(n):
  current = 0
  while current < n:
    yield current
    current += 1

intList = MyRange(5)
print(list(intList))

[0, 1, 2, 3, 4]

map

In [ ]:
map(func, iterable)

In [8]:
def myfunc(x):
  return x**2

results = map(myfunc,[0,1,2,3])
print(list(results))

[0, 1, 4, 9]

In [12]:
results = map(lambda x:x**2, range(4))
print(list(results))

[0, 1, 4, 9]

In [13]:
x = [1,2,3,4,5]
y = [10,9,8,7,6]
ret = map(lambda x,y: x**2+y,x,y)
print(list(ret))

[11, 13, 17, 23, 31]