<a href="https://colab.research.google.com/github/chuter176/MLP_2025/blob/main/44sorted_45sequence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

sorted

In [ ]:
listData = [42,1,39,27,44,8]
ret1 = sorted(listData)
ret2 = sorted(listData,reverse=True)
print(ret1)
print(ret2)
print(listData)

[1, 8, 27, 39, 42, 44]
[44, 42, 39, 27, 8, 1]
[42, 1, 39, 27, 44, 8]

In [ ]:
tupleData = ('사과','배','오랜지','수박','참외')
ret = sorted(tupleData)
print(ret)

['배', '사과', '수박', '오랜지', '참외']

In [ ]:
strData = 'I love python!'
ret = sorted(strData)
print(ret)

[' ', ' ', '!', 'I', 'e', 'h', 'l', 'n', 'o', 'o', 'p', 't', 'v', 'y']

In [ ]:
population = {'김씨':2834,'이씨':2288,'박씨':189}
ret = sorted(population)
print(ret)

['김씨', '박씨', '이씨']

sequence

In [ ]:
listData = [1,2,3,4,5]

In [ ]:
tupleData = (1,2,3,4,5)

In [ ]:
strData1 = '010-1234-5678'
strData2 = "사랑쌔요 파이썬"
strData3 = 'I love python'

In [ ]:
bstr = b'Hello python!'