<a href="https://colab.research.google.com/github/chuter176/MLP_2025/blob/main/54enumerate_55reversed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

enumerate

In [2]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
for i, body in enumerate(solarsys):
  print(f'태양계의 {i}번쩨 천제:{body}')

태양계의 0번쩨 천제:태양
태양계의 1번쩨 천제:수성
태양계의 2번쩨 천제:금성
태양계의 3번쩨 천제:지구
태양계의 4번쩨 천제:화성
태양계의 5번쩨 천제:목성
태양계의 6번쩨 천제:토성
태양계의 7번쩨 천제:천왕성
태양계의 8번쩨 천제:해왕성

In [14]:
seasons = ['봄','여름','가을','겨울']
print(list(enumerate(seasons,start=1)))

[(1, '봄'), (2, '여름'), (3, '가을'), (4, '겨울')]

In [4]:
#enumerate()를 구현한 제너레이터
def myEnumerate(iterable,start=0):
  n = start
  for item in iterable:
    yield (n,item)
    n += 1

In [15]:
print(list(myEnumerate(seasons,start=1)))

[(1, '봄'), (2, '여름'), (3, '가을'), (4, '겨울')]

reversed

In [16]:
fruits = ('사과','배','오랜지','수박')
ret = reversed(fruits)
print(list(ret))

['수박', '오랜지', '배', '사과']

In [18]:
print(fruits)

('사과', '배', '오랜지', '수박')

In [19]:
for i in reversed(range(1,6)):
  print(i)

5
4
3
2
1