<a href="https://colab.research.google.com/github/chuter176/MLP_2025/blob/main/80str.isdecimal_81str.join.ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

str.isdecimal

In [ ]:
numbers = ['1004','-1','3.14','IX','⅞','5²','50%']

In [ ]:
for number in numbers:
  print(f'"{number}" \t--> {number.isdecimal()}')

"1004" 	--> True
"-1" 	--> False
"3.14" 	--> False
"IX" 	--> False
"⅞" 	--> False
"5²" 	--> False
"50%" 	--> False

In [ ]:
for number in numbers:
  print(f'"{number}" \t--> {number.isdigit()}')

"1004" 	--> True
"-1" 	--> False
"3.14" 	--> False
"IX" 	--> False
"⅞" 	--> False
"5²" 	--> True
"50%" 	--> False

In [ ]:
for number in numbers:
  print(f'"{number}" \t--> {number.isnumeric()}')

"1004" 	--> True
"-1" 	--> False
"3.14" 	--> False
"IX" 	--> False
"⅞" 	--> True
"5²" 	--> True
"50%" 	--> False

str.join

In [ ]:
profile = ['홍길동','남자','18세','도적','초능력자']
logData = ','.join(profile)
print(logData)

홍길동,남자,18세,도적,초능력자

In [ ]:
profile = ['홍길동','남자',18,'도적','초능력자']
logData = ';'.join(profile)

TypeError: sequence item 2: expected str instance, int found